<main class="body-section">
  <app-news-slider></app-news-slider>

  <div class="content-area">
    <!-- Left column (Latest News) -->
    <div class="main-content">
      <h2 class="section-title">📢 Latest News</h2>
      <app-latest-news></app-latest-news>
    </div>

    <!-- Right column (Sidebar Sports) -->
    <aside class="sidebar">
      <app-sidebar></app-sidebar>
    </aside>
  </div>

  
    <app-videoes-section></app-videoes-section>

    <app-category-row-section></app-category-row-section>

    <app-photo-gallery></app-photo-gallery>

    <app-reader-poll></app-reader-poll>
    
</main>
